<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <style>
        .hideDot{
            list-style-type: none;
        }
    </style>
</head>
<body>
<div class="container">
    <header>
        <div class="row">
          <div class="col-3"></div>
            <div class="col-6">
                <div class="text-center mt-3">
                    <h1 class="fw-semibold">AP Sharing</h1>
                </div>
            </div>
            <div class="col-3 d-flex justify-content-center align-items-end fw-semibold">
                <h4 class="fw-semibold mb-0" th:text="${today}">2024.06.13</h4>
            </div>
        </div>

    </header>
    <hr>


<!--    <div class="row">-->
<!--        <div class="col-1 ml-2">-->
<!--            <h3 type="button" id="global" data-bs-toggle="modal" data-bs-target="#exampleModal">Global</h3>-->
<!--        </div>-->
<!--        <div class="col-1 ml-2">-->
<!--            <h3  type="button" id="korea" data-bs-toggle="modal" data-bs-target="#exampleModal">Korea</h3>-->
<!--        </div>-->

<!--        &lt;!&ndash; Modal &ndash;&gt;-->
<!--        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--            <div class="modal-dialog">-->
<!--                <div class="modal-content">-->
<!--                    <div class="modal-header">-->
<!--                        <h1 class="modal-title fs-5" id="exampleModalLabel">NOTICE</h1>-->
<!--                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--                    </div>-->
<!--                    <div class="modal-body">-->
<!--                        This feature is coming soon-->
<!--                    </div>-->
<!--                    <div class="modal-footer">-->
<!--                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->
<!--    <hr>-->


</div>


<main class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-10"><h2 class="fst-italic fw-semibold">Astronomy Picture of the Day</h2></div>
    </div>
    <div class="row m-4" th:object="${apod}">
        <div class="col-8">
            <img th:src="*{url}"
                 class="img-fluid object-fit-cover border" alt="...">
        </div>
        <div class="col-4">
            <div class="row">
                <div class="card" style="width: auto;">
                    <div class="card-body">
                        <h3 class="card-title" th:text="*{title}">APOD title</h3>
                        <h6 class="card-subtitle mb-2 text-body-secondary" th:text="*{date}">APOD date</h6>
                        <h5 class="card-text fw-lighter" th:text="*{explanation}">Some quick example text to build on the card title and make up the bulk of the card's content.</h5>
                    </div>
                </div>
            </div>



        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-7">
            <h2 class="fst-italic fw-semibold text-center" >Astronomical Phenomena This Month</h2>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-7 border border-secondary-subtle my-1">
            <article class="m-2" th:each="eventGroup:${astroEventInfo}">
                <h4 class="fw-semibold fst-italic" th:text="${eventGroup.locdate}">20150120</h4>
                <ul class="hideDot">
                    <li th:each="event:${eventGroup.events}">
                        <div th:if="${event.astroTitle != ''}">
                            <span th:text="${event.astroTime}">01:00</span>
                            <h5 class="fw-lighter fst-italic" th:text="${event.astroTitle}">대형광학망원경 개발 및 은하진화 연구</h5>
                            <h5 class="fw-lighter fst-italic" th:text="${event.astroEvent}">거대마젤란망원경(Giant Magellan Telescope)은 한국, 미국, 호주 등이 공동으로 개발하는 세계 최대 광학망원경이다. 주경 전체 지름은 25.4m로 지름 8.4m인 조각 거울 7장으로 구성된다. 주경에 반사된 별빛은 위쪽의 부경 7장에서 다시 반사되어 주경 가운데 거울의 구멍 속으로 들어오고, 구멍 속으로 들어온 별빛은 관측기기를 통해 컴퓨터로 분석된다. 거대마젤란망원경은 허블 우주망원경보다 10배 더 선명한 영상을 제공할 수 있으며, 별과 행성의 형성, 은하의 형성과 진화, 블랙홀, 암흑물질과 암흑에너지, 우주 최초의 별과 은하 등의 연구에 사용된다. 이 망원경은 지구에서 우주를 관측하기에 가장 좋은 지역인 남반구 칠레의 라스 캄파나스 천문대에 2019년 완공될 예정이다</h5>
                        </div>
                        <div th:unless="${event.astroTitle !=''}">
                            <h5 class="fw-lighter fst-italic"> <span th:text="${event.astroTime}">01:00</span> - <span th:text="${event.astroEvent}">지구 근일점</span></h5>
                        </div>
                    </li>
                </ul>
            </article>
        </div>
        <div class="col-4">
            <div class="position-sticky" style="top:2rem;" th:each="info:${lunPhInfoService}">
                <div class="row text-center">
                    <h3 class="fst-italic">Today's Moon</h3>
                </div>
                <div class="row my-4">
                    <div class="col">
                        <div class="card mx-auto" style="width: auto;">
                            <div class="card-body text-center">
                                <h3 th:text="${info.emoji}">🌖</h3>
                                <h4 class="card-title fw-semibold" th:text="#{'LunPh.'+${info.value}}">APOD title</h4>
                                <h5 class="card-subtitle mb-2 text-body-secondaxry " th:text="${info.description}">APOD Date</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col">
                        <h3 class="fst-italic">24Divisions Info This Month</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card m-4" style="width: auto;" th:each="info:${divisionsInfo24}">
                            <div class="card-body text-center" >
                                <h5 class="card-title fw-semibold" th:text="${info.dateName}">APOD title</h5>
                                <h6 class="card-subtitle mb-2 text-body-secondary" th:text="${info.FormatLocdate}">APOD Date</h6>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <hr>


</main>

<footer class="bg-secondary-subtle text-secondary py-4">
<div class="">
    <div class="api-info text-center" >
        <p>본 사이트는 다음의 Open API를 사용합니다:</p>
        <ul class="hideDot">
            <li>Nasa API - <a href="https://api.nasa.gov/" target="_blank">API 링크</a></li>
            <li>한국 천문 연구원 Open API - <a href="https://astro.kasi.re.kr/information/pageView/31" target="_blank">API 링크</a></li>
        </ul>
    </div>
    <div class="row mt-4">
        <div class="col-12 text-center">
            <p>Built with <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a></p>
        </div>
    </div>
</div>

</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>