<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <ul >
        <li th:each="item:${items}">
            <span th:text="${item.locdate}"></span>
            <p></p>
            <span th:text="${item.astroTime}"></span>
            <p></p>
            <span th:text="${item.astroTitle}"></span>
            <p></p>
            <span th:text="${item.astroEvent}"></span>
            <p></p>
        </li>
    </ul>
</div>
</body>
</html>